
body {

	
	font-size: 16px;
}

#header_nav{

	background-color:#333;
	opacity: 0.9;
	border:none;
	border-radius: 0;
	color:#333;
	margin-bottom: 0;
}

#header_nav p {

	font-size:130%;
	margin:auto 0 auto 0;

}

.container {

	margin-top:10px;
	padding-bottom: 7px;
}

div.container {

	margin-left: 20px;
}

.navbar-toggle {

	background-color: blue;
	margin-right: 45px;
}

.navbar-toggle .icon-bar {

	background-color:#333;
}

#collapsable-nav a {

	color: #333;
}

#collapsable-nav a p {

	font-size:110%;
}

section.container p {

	font-size: 100%;
	font-weight: 200;
	margin:20px 0 20px 0;
}

h1 {

	margin-bottom: 20px;
}
#chicken_section{

	
	
	border-width: thin;
	margin-bottom: 20px;
	text-align: justify;
} 

#beef_section{

	
	
	border-width: thin;
	margin-bottom: 20px;
	text-align: justify;
}


#sushi_section{

	
	b
	border-width: thin;
	margin-bottom: 20px;
	text-align: justify;
}


#chicken_header,#beef_header,#sushi_header {

	
	width:15%;
	margin:0 auto;
	
}

div.row {

	margin-left:30px;
	margin-right:30px;
}

/* Various screen sizes and their width specifications */
@media only screen and (min-width:200px) and (max-width:320px ) {

	#chicken_header,#beef_header,#sushi_header { 

		width:60%;
	}

}

@media only screen and (min-width:321px) and (max-width:424px ) {

	#chicken_header,#beef_header,#sushi_header { 

		width:40%;
	}

}

@media only screen and (min-width:425px) and (max-width: 530px) {

	#chicken_header,#beef_header,#sushi_header { 

		width:20%;
	}

}

@media only screen and (min-width:531px) and (max-width: 710px) {

	#chicken_header,#beef_header,#sushi_header { 

		width:19%;
	}

}